<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Simple Recorder.js demo with record, stop and pause</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <style>


@keyframes example {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

body {font-family: Arial, Helvetica, sans-serif;background-color:#b0bec5}



img{
margin-top:10%;
}

.animate{
animation-name:example;
animation-duration:7s;
}

</style>
 </head>
 <body>


    <div class="container">

        <center><h2 id="msg"></h2></center>
         <center>
         <img src="static/images/Microphone.png" alt="Microphone" id ="record_button" onclick="startRecording()">
         </center>




    </div>




  <!--<div id="controls">-->
   <!--&lt;!&ndash;<button id="recordButton">Record</button>&ndash;&gt;-->
   <!--&lt;!&ndash;<button id="stopButton" disabled>Stop</button>&ndash;&gt;-->
  <!--</div>-->
  <!--<h1><p> Recording will stop in <span id="countdowntimer">10 </span> Seconds</p></h1>-->
  <!--<h3>Recordings</h3>-->
  <!--<ol id="recordingsList"></ol>-->
  <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
  <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
  <script src="{{ url_for('static', filename="js/record.js") }}"></script>
 </body>
</html>